/* this contains style for login and registration page */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}
.bg-color{
    background: white;
}
/*
.bg-image{
    background-image: url('../../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}



.tracker-page-overlay {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('../../image/star1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tracker-page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 700px;
    min-height: 300px;
    transform: translate(-50%, -50%);
    text-align: center; /* If you want to center text within the container */
    background-color: white; /* Add a background color for better visibility */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
    padding: 20px; /* Add padding to the container */
    border-radius: 15px; /* Optional: Add rounded corners */
  }

  .progress-bar-div{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }


  .reset-inner-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }